input,
input:disabled {
    padding: 0;
    border: 0;
    text-align: center;
}

input:read-only {
    background-color: var(--red);
    color: white;
}

h1 {
    text-align: center;
    margin: 1em 0;
    font-size: 3em;
}

form {
    margin-top: 1em;
}

form header {
    padding: 0;
    margin: 1em;
    display: flex;
    justify-content: space-around;
    background: transparent;
}

header input {
    border: 0;
    border-bottom: 0.01em solid var(--yellow);
    background-color: transparent;
    color: var(--yellow);
    font-family: var(--second-font);
    font-size: 1.2em;
    transition: 500ms;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

input::placeholder{
    color: var(--yellow);
}

select {
    height: 3em;
    background-color: var(--yellow);
    padding: 0.5em;
    font-size: 1.5vw;
}

select:hover {
    cursor: pointer;
}

table {
    margin-top: 5em;
}

table,
td,
th {
    font-family: var(--second-font);
    font-size: 1em;
    text-align: center;
    border: 0.01em solid;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

table input,
table input:disabled {
    width: 100%;
    display: block;
    padding: 0.1em 0;
}

th {
    padding: 0.3em 0.5em;
}

form label {
    display: block;
    text-align: center;
    font-family: var(--second-font);
}

button {
    border: none;
    background-color: var(--yellow);
    padding: 1vw;
    display: block;
    margin: 0 auto;
    font-size: 1.25vw;
}

button:hover {
    cursor: pointer;
}

p{
    margin: 0.5em auto;

    font-family: var(--second-font);
    font-size: 1em;
    color: var(--yellow);
    border-bottom: 0.01em solid var(--yellow);
    text-align: center;
    white-space: nowrap;
}