table {
    margin-top: 4vh;
}

table,
th {
    font-family: var(--second-font);
    font-size: 1.3vw;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.td {
    border: 1px solid var(--yellow);
    padding: 1vw;
    white-space: nowrap;
}

table input,
table input:disabled {
    width: 100%;
    display: block;
    padding: 0.25vw 0;
}

th {
    padding: 0.3vw 1vw;
}

input,
input:disabled {
    padding: 0;
    border: 0;
    text-align: center;
}

input:disabled {
    background-color: var(--yellow);
    color: var(--red);
}

input:read-only {
    background-color: var(--red);
    color: var(--yellow);

    width: 3vw;

    font-size: 3vh;
}

table a {
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
    margin: 0 1vw;

    font-size: 1.5vw;
}

table a:hover {
    border-bottom: 1px solid var(--yellow);
    font-weight: bold;
    color: white;
}

p{
    margin: 1vh auto;

    font-family: var(--second-font);
    font-size: 1.1vw;
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
    text-align: center;
    white-space: nowrap;
}   

button {
    color: var(--yellow);
    border: none;
    border-bottom: 1px solid var(--yellow);
    margin: 0 0.2vw;

    font-size: 1.5vw;

    background-color: transparent;
}

button:hover {
    border-bottom: 1px solid var(--yellow);
    font-weight: bold;
    color: white;
}

#delete {
    margin-top: 45vh;
    margin-left: 43vw;

    position: absolute;
}

h2 {
    text-align: center;
    margin-bottom: 0;
}