input {
    border: 2px solid var(--red);
    border-radius: 5px;

    background-color: transparent;

    font-family: var(--second-font bold);
    color: var(--red);
    font-size: 1.7vw;
    text-align: center;

    margin: 1vh;
}

div {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#login-background {
    margin: 5vw auto;
    width: 33vw;
    padding: 1vw 0;

    background-color: var(--yellow);
}

#login-input {
    display: flex;
    justify-content: space-between;
}

#login-form {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    width: 33vw;
}

#login-input {
    margin: 2vh;

    display: flex;
    justify-content: space-between;
}

#login-submit {
    margin: 1vw;
}

button {
    padding: 1vw;
    border: none;
    background-color: var(--red);

    font-family: var(--second-font bold);
    font-size: 1em;
    color: var(--yellow);
}

#login-submit {
    white-space: nowrap;
}

#signup-background {
    visibility: hidden;
    width: 33vw;
    margin: auto;
    background-color: var(--yellow);
}

#signup-stop {
    margin-right: 0;
    margin-left: auto;
    border: solid 2px var(--yellow);

    padding: 0.5vh 1vw;
}

h2 {
    color: var(--red);
    margin: 1.5vh auto;
    position: absolute;
}

#signup-div-form {
    padding-top: 2.5vh;
}