input {
    border: 2px solid var(--red);
    border-radius: 5px;

    background-color: transparent;

    font-family: var(--second-font bold);
    color: var(--red);
    font-size: 1.7vw;
    text-align: center;

    padding: 1%;
    margin: 2%;
}

div {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#main-div {
    margin: 5% auto;
    width: 33%;
    padding: 1% 0;

    background-color: var(--yellow);
}

#login-div {
    margin-bottom: 3%;

    display: flex;
    justify-content: space-between;
}

button {
    padding: 3%;
    border: none;
    background-color: var(--red);

    font-family: var(--second-font bold);
    font-size: 1em;
    color: var(--yellow);
}
