input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
    --yellow: #ef9802;
    --red: #600601;
    --second-font: "Noto Sans";
    background-color: var(--red);
    font-family: 'Shojumaru', cursive;
    color: var(--yellow);
    font-size: 1.25vw;
}

body {
    margin: 0;
}

header {
    padding: 1%;
    margin: 0;
    background-color: var(--yellow);
}

header nav {
    display: flex;
    flex-flow: row; 
    align-items: center;
    justify-content: space-around;
}

#topbar{
    position: sticky;
    top: 0px;
}

a {
    padding: 0.2% 1%;
    text-decoration: none;
    color: var(--red);
    font-size: 1.6vw;
    border-bottom: solid transparent;
}

a:hover {
    border-bottom: solid;
}
